<h1>Rankings</h1>

<table class="table">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Player</th>
    <th>Last 12 Months</th>
    <th>Previous 12 Months</th>
    <th>Total</th>
  </tr>
  </thead>

  <tbody>
  <% rank = 1 %>
  <% last_points = 0 %>
  <% @player_list.each do |player, points| %>
      <tr>
        <td><%= rank if last_points != points[:total] %></td>
        <td><%= player.name %></td>
        <td><%= points[:last_year].sort.reverse.first(4).sum %></td>
        <td><%= points[:previous_year].sort.reverse.first(4).sum %></td>
        <td><%= points[:total] %></td>
        <td><%= link_to 'Show', player %></td>
      </tr>
    <% rank += 1 %>
    <% last_points = points[:total] %>
  <% end %>
  </tbody>
</table>
