<h1>
  <%= @tournament.name %>
</h1>

<p>
  <%= @tournament.description %>
</p>

<table class="table">
  <thead>
  <tr>
    <th>Edition</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Multiplier</th>
    <th colspan="3"></th>
    <% if current_user %>
    <th colspan="2"></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @tournament.editions.sort_by{|each| each.year}.reverse.each do |edition| %>
      <tr>
        <td><%= link_to edition.name, edition %></td>
        <td><%= edition.start_date %></td>
        <td><%= edition.end_date %></td>
        <td><%= edition.multiplier %></td>
        <% if current_user %>
            <td><%= link_to 'Edit', edit_edition_path(edition) %></td>
            <td><%= link_to 'Destroy', edition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
    <%= link_to 'New Edition', new_edition_path(tournament_id: @tournament), :class => "btn btn-default" %>
<% end %>

<br/>
<br/>

<% if current_user %>
    <%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<% end %>
<%= link_to 'Back', tournaments_path %>
