<div class="row">
  <div class="col-md-4">
    <h3>Rankings</h3>
    <%= render '/rankings/rankings_table', summary: true %>
  </div>

  <% if @edition %>
    <div class="col-md-4">
      <h3><%= @edition.name %></h3>
      <%= render '/editions/edition_placings' %>
    </div>
  <% end %>

  <% player = @player_list.sample&.first %>
  <% if player %>
    <div class="col-md-4">
      <h3>Profile - <%= link_to player.name, player, :class => "navigation-link" %></h3>
      <div class="panel panel-default">
        <%= render '/players/player_stats', player: player %>
      </div>
    </div>
  <% end %>
</div>
