<h1>Players</h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
      <% if current_user %>
          <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @players.sort_by{|each| each.name}.each do |player| %>
      <tr>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= link_to 'Show', player %></td>
        <% if current_user %>
            <td><%= link_to 'Edit', edit_player_path(player) %></td>
            <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
    <%= link_to 'New Player', new_player_path, :class => "btn btn-default" %>
<% end %>
