<h1><%= @player.name %></h1>

<% if @ranking %>
  <p>Ranked <strong>#<%= @ranking[:rank] %></strong> &mdash; <%= @ranking[:total] %> points</p>
<% end %>

<%= render 'player_stats', player: @player %>

<% if current_user %>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Merge', merge_player_path(@player) %> |
<% end %>
<%= link_to 'Back', players_path %>
